.work_container {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}

.work_card {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.work_mask {
  background-color: #6c6ce5;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s;
  opacity: 0;
}

.work_card:hover .work_mask {
  opacity: 0.9;
}

.work_details {
  color: #ffffff;
  background-color: var(--first-color);
  border-bottom-left-radius: 0.98rem;
  border-bottom-right-radius: 0.98rem;
  position: absolute;
  top: 0;
  left: 1.5rem;
  font-size: var(--small-font-size);
  display: inline-block;
  padding: 0.19rem 0.625rem;
  transform: translateY(-40px);
  transition: 0.3s;
}

.work_title {
  color: #ffffff;
  font-size: var(--h3-font-size);
  margin: 0 0 0.98rem;
  padding: 0 1.25rem;
  position: absolute;
  top: 3.75rem;
  transform: translateY(30px);
  transition: 0.3s;
  opacity: 0;
}

.work_button1 {
  color: #ffffff;
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  font-size: var(--h3-font-size);
  display: block;
  background-color: #ffd15c;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  transition: 0.3s;
  opacity: 0;
}
.work_button2 {
  color: #ffffff;
  position: absolute;
  bottom: 1.5rem;
  left: 3.5rem;
  font-size: var(--h3-font-size);
  display: block;
  background-color: #ffd15c;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  transition: 0.3s;
  opacity: 0;
}
.work_button3 {
  color: #ffffff;
  position: absolute;
  bottom: 1.5rem;
  left: 5.5rem;
  font-size: var(--h3-font-size);
  display: block;
  background-color: #ffd15c;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  transition: 0.3s;
  opacity: 0;
}

.work_card:hover .work_button1,
.work_card:hover .work_button2,
.work_card:hover .work_button3,
.work_card:hover .work_details,
.work_card:hover .work_title {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 1024px) {
  .work_container {
    grid-template-columns: repeat(2, 330px);
    justify-content: center;
    row-gap: 1.875rem;
  }
}

@media screen and (max-width: 768px) {
  .work_container {
    grid-template-columns: 310px;
  }
}

@media screen and (max-width: 350px) {
  .work_container {
    grid-template-columns: 1fr;
  }
}
