.about_container {
  grid-template-columns: 3fr 9fr;
}

.about_data {
  padding: 1.875rem;
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  align-items: flex-start;
  position: relative;
}

/* .about_data::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid var(--container-color);
  position: absolute;
  left: -0.93rem;
  top: 20%;
} */

.about_description {
  margin-bottom: 1.5rem;
  text-align: justify;
}

@media screen and (max-width: 1024px) {
  .about_container {
    grid-template-columns: 720px;
    justify-content: center;
    row-gap: 1.875rem;
  }

  .about_image {
    justify-self: center;
  }
}

@media screen and (max-width: 768px) {
  .about_container {
    grid-template-columns: 350px;
  }

  .about_data::before {
    left: 47%;
  }
}

@media screen and (max-width: 576px) {
  .about_container {
    grid-template-columns: 320px;
  }
}

@media screen and (max-width: 350px) {
  .about_container {
    grid-template-columns: 1fr;
  }
}
