.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  max-width: 540px;
  text-align: center;
}

.home_image {
  max-width: 1.5rem;
}

.home_name {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 0.5rem;
}
.home_socials {
  display: flex;
  column-gap: 1.75rem;
  margin: 1.5rem 0;
  align-items: center;
  justify-content: center;
}

.home_socials-link {
  color: var(--title-color);
  font-size: 1.3rem;
  transition: 0.3s;
}

.home_socials-link:hover {
  color: hsl(43, 100%, 68%);
}

.scroll_down {
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  width: 100%;
}

.mouse {
  border: 2px solid var(--text-color);
  display: block;
  height: 1.6rem;
  width: 1.25rem;
  margin: auto;
  margin-top: 0.75rem;
  border-radius: 1rem;
  position: relative;
}
@keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}

.wheel {
  background-color: var(--title-color);
  border-radius: 100%;
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: ani-mouse 2s linear infinite;
}

.shapes {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.shape {
  position: absolute;
}

.s1 {
  left: 2%;
  top: 10%;
}
.s2 {
  left: 18%;
  top: 30%;
}
.s3 {
  left: 5%;
  top: 30%;
}
.s4 {
  left: 2%;
  top: 10%;
}
.s5 {
  left: 78%;
  top: 45%;
}
.s6 {
  left: 67%;
  top: 85%;
}
.s7 {
  left: 36%;
  top: 39%;
}
.s8 {
  left: 15%;
  top: 43%;
}
.s9 {
  left: 55%;
  top: 14%;
}
.s10 {
  left: 63%;
  top: 40%;
}
.s11 {
  left: 8%;
  top: 34%;
}

@media screen and (max-width: 1024px) {
  .home_social-link {
    font-size: 1.125rem;
  }
}
